<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AngularJs Practical Examples</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/Ex2_ajs.js"></script>
</head>

<body ng-app="app" ng-controller="MainController as main">
    <div class="controller">
        <h1>{{main.title}}</h1>
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <input type="text" class="form-control" ng-model="main.searchInput">
        </div>
        <h3>A list of books</h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="show in main.shows | filter:main.searchInput |
            orderBy:main.order.key:main.order.reverse">
                <span class="glyphicon glyphicon-star" ng-if="show.favorite">
                </span> {{show.title}} <span class="badge">{{show.author}}</span>
            </li>
        </ul>
        <select class="form-control pull-right" ng-model="main.order"
            ng-options="order as order.title for order in main.orders"></select>
        <div class="clearfix"></div>
        <h3>Add a new book</h3>
        <form name="main.addForm" class="form" ng-submit="main.addShow()">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="main.new.title" required>
            </div>
            <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" ng-model="main.new.author" required>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>Favorite: <input type="checkbox" ng-model="main.new.favorite"></label>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-success pull-right">

                        <span class="glyphicon glyphicon-plus-sign"></span> Add</button>
                </div>
            </div>
        </form>
    </div>

</body>

</html>